@model Finance.Models.ViewModel.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="roboto-regular">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>

        <div class="card shadow border-0 mt-4 ">
            <div class="card-header  ml-0 py-4" style="background-color: rgb(27, 66, 66);">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="py-2 text-white">History</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <canvas id="SpendingLineChart" style="height: 500px;"></canvas> <!-- Added inline CSS to increase height -->
            </div>
        </div>
        <div class="card shadow border-0 mt-4 ">
            <div class="card-header  ml-0 py-4" style="background-color: rgb(27, 66, 66);">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="py-2 text-white">History</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <canvas id="IncomeLineChart" style="height: 500px;"></canvas> <!-- Added inline CSS to increase height -->
            </div>
        </div>
        <div class="card shadow border-0 mt-4 " >
            <div class="card-header  ml-0 py-4" style="background-color: rgb(27, 66, 66);">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="py-2 text-white">Spending</h2>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 700px; display: flex; justify-content: center; align-items: center;">
                <canvas id="SpendingPieChart"></canvas>
            </div>
        </div>

        <div class="card shadow border-0 mt-4 " >
            <div class="card-header  ml-0 py-4" style="background-color: rgb(27, 66, 66);">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="py-2 text-white">Income</h2>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height: 700px; display: flex; justify-content: center; align-items: center;">
                <canvas id="IncomePieChart"></canvas>
            </div>
        </div>

        <!-- Include the Chart.js library -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Create Spending line chart -->
        <script>
            var spendingLineChart = new Chart(document.getElementById('SpendingLineChart').getContext('2d'),
            {
                type: 'line',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SpendingLineChartViewModel.Labels)),
                    datasets: [
                        {
                            label: 'Spend by Day',
                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SpendingLineChartViewModel.Data)),
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <!-- Create Income line chart -->
        <script>
            var incomeLineChart = new Chart(document.getElementById('IncomeLineChart').getContext('2d'),
            {
                type: 'line',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.IncomeLineChartViewModel.Labels)),
                    datasets: [
                        {
                            label: 'Income by Day',
                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.IncomeLineChartViewModel.Data)),
                            backgroundColor: 'rgba(255, 0, 0, 0.2)',
                            borderColor: 'rgba(255, 0, 0, 1)',
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        <script>
            var spendingLineChart = new Chart(document.getElementById('SpendingLineChart').getContext('2d'),
            {
                type: 'line',
                data: {
                    labels: @Html.Raw(@Model.SpendingLineChartViewModel.Labels),
                    datasets: [
                        {
                            label: 'Spend by Day',
                            data: @Html.Raw(@Model.SpendingLineChartViewModel.Data),
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script> 

        
        <!-- Create Spending pie chart -->     
        <script>
        var spendingPieChart = new Chart(document.getElementById('SpendingPieChart').getContext('2d'),
        {
                type: 'pie',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.SpendingPieChartViewModel.Labels)),
                    datasets: [{
                        label: 'Spend by Category',
                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.SpendingPieChartViewModel.Data)),
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.3)',   // Red
                            'rgba(0, 255, 0, 0.3)',   // Green
                            'rgba(0, 0, 255, 0.3)',   // Blue
                            'rgba(255, 255, 0, 0.3)', // Yellow
                            'rgba(0, 255, 255, 0.3)', // Cyan
                            'rgba(212, 172, 13, 0.3)', // Gold
                            'rgba(93, 173, 226 , 0.3)', // Light Blue
                            'rgba(229, 152, 102, 0.3)', // Orange
                            'rgba(115, 198, 182, 0.3)', // Teal
                            'rgba(187, 143, 206 , 0.3)', // Purple
                            'rgba(88, 214, 141 , 0.3)', // Green
                            'rgba(186, 74, 0, 0.3)', // Brown
                            'rgba(255, 0, 255, 0.3)'  // Magenta

                        ],
                        borderColor: [
                            'rgba(255, 0, 0, 1)',   // Red
                            'rgba(0, 255, 0, 1)',   // Green
                            'rgba(0, 0, 255, 1)',   // Blue
                            'rgba(255, 255, 0, 1)', // Yellow
                            'rgba(0, 255, 255, 1)', // Cyan
                            'rgba(212, 172, 13, 1)', // Gold
                            'rgba(93, 173, 226 , 1)', // Light Blue
                            'rgba(229, 152, 102, 1)', // Orange
                            'rgba(115, 198, 182, 1)', // Teal
                            'rgba(187, 143, 206 , 1)', // Purple
                            'rgba(88, 214, 141 , 1)', // Green
                            'rgba(186, 74, 0, 1)', // Brown
                            'rgba(255, 0, 255, 1)'  // Magenta
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                        responsive: true,
                    }
            }); 
        </script>   

        <!-- Create Income pie chart -->  
        <script>
            var incomePieChart = new Chart(document.getElementById('IncomePieChart').getContext('2d'), 
            {
                type: 'pie',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.IncomePieChartViewModel.Labels)),
                    datasets: [{
                        label: 'Spend by Category',
                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.IncomePieChartViewModel.Data)),
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.3)',   // Red
                            'rgba(0, 255, 0, 0.3)',   // Green
                            'rgba(0, 0, 255, 0.3)',   // Blue
                            'rgba(255, 255, 0, 0.3)', // Yellow
                            'rgba(0, 255, 255, 0.3)', // Cyan
                            'rgba(212, 172, 13, 0.3)', // Gold
                            'rgba(93, 173, 226 , 0.3)', // Light Blue
                            'rgba(229, 152, 102, 0.3)', // Orange
                            'rgba(255, 0, 255, 0.3)'  // Magenta

                        ],
                        borderColor: [
                            'rgba(255, 0, 0, 1)',   // Red
                            'rgba(0, 255, 0, 1)',   // Green
                            'rgba(0, 0, 255, 1)',   // Blue
                            'rgba(255, 255, 0, 1)', // Yellow
                            'rgba(0, 255, 255, 1)', // Cyan
                            'rgba(212, 172, 13,  1)', // Gold
                            'rgba(93, 173, 226 , 1)', // Light Blue
                            'rgba(229, 152, 102, 1)', // Orange
                            'rgba(255, 0, 255, 1)'  // Magenta
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                        responsive: true,
                    }
            }); 
        </script>
    </div>
</div>