@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finance_Web</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/tooplate-mini-finance.css" rel="stylesheet">
    <link href="~/css/apexcharts.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script>
document.addEventListener("DOMContentLoaded", function () {
    // Get the current page pathname
    const currentPagePath = window.location.pathname;

    // Get all the navigation links
    const navLinks = document.querySelectorAll(".nav-link");

    // Loop through all the navigation links
            navLinks.forEach(navLink => {
                const linkPath = new URL(navLink.href, window.location.origin).pathname;
                if (linkPath === currentPagePath && navLink.textContent.trim() !== "Help Center") {
                    navLink.classList.add("active");
                }
            });
});
</script>
</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="bi-box"></i>
                Finance Assistant
            </a>
        </div>
        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0" action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <partial name="_LoginPartial" />
        
    </header>


    <div class="container-fluid">
        <div class="row">

            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100 ">
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Home" asp-action="Index">
                                <i class="bi-house-fill me-2"></i>
                                Overview
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link "  asp-controller="Spending" asp-action="Index">
                                <i class="bi bi-cash-coin me-2"></i> 
                                Spending
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link "  asp-controller="Income" asp-action="Index">
                                <i class="bi bi-cash-coin me-2"></i> 
                                Income
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Wallet" asp-action="Index" >
                                <i class="bi-wallet me-2"></i>
                                Wallet
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="bi-gear me-2"></i>
                                Profile
                            </a>
                        </li>

                        

                        <li class="nav-item featured-box mt-lg-5 mt-4 mb-4 roboto-regular">
                            <img src="images/credit-card.png" class="img-fluid" >
                            @if (SignInManager.IsSignedIn(User))
                            {
                                var user = await UserManager.GetUserAsync(User);

                                if (user != null )
                                {
                                    var userWithWallets = UserManager.Users.Include(u => u.Wallets).SingleOrDefault(u => u.Id == user.Id);
                                    var activeWallet = userWithWallets.Wallets.FirstOrDefault(w => w.Id == user.ActiveWalletId);

                                    if (activeWallet != null)
                                    {
                                        <div>
                                            <i class="bi bi-credit-card-2-front">@activeWallet.ID_Card</i>
                                        </div>
                                        <div>
                                            <i class="bi bi-currency-dollar">@activeWallet.Balance</i>
                                        </div>
                                    }
                                    <a class="btn custom-btn" asp-controller="Wallet" asp-action="Create">Create New Wallet</a>
                                }

                            }
                        </li>


                        <li class="nav-item border-top mt-auto pt-2 roboto-regular">
                                <i class="bi-question-circle me-2"></i>
                                Help Center
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                @RenderBody()
            </main>

        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
